body {
  margin: 0;
  padding: 0;
}

html {
  // font-size: 14px;
}

* {
  box-sizing: border-box;
}

@font-face {
}
// Başlık metin boyutu: 24px ila 36px arasında olabilir.
// Alt başlık metin boyutu: 18px ila 24px arasında olabilir.
// Ana metin boyutu:  16px ila 20px arasında olabilir.
// Açıklama metin boyutu: 12px ila 16px arasında olabilir.
