.mainpage-container {
    display: flex;
    font-family: "RobotoThin" !important; 
   
}

.mainpage-sidebar {
    width: 400px;
    height: auto;

    display: flex;
    flex-direction: column;
}

.mainpage-maincontent {
    width: 900px;

    display: flex;
    flex-direction: column;


}