

.sidebar-box-container {
  width: 400px;
  height: auto;
  margin-top: 20px;
  
  background-color: var(--color-component-background-primary);

  a {
    font-size: 24px;
    font-family: "RobotoMedium";
    color: var(--color-text-primary);
  }
}

.sidebar-box-card {
    width: 350px;

    margin: 15px;

}
